{% extends 'base.html' %}

{% block body%}
    <div class="h1-container">
        <h1>{{ podcast_title }}</h1> 
    </div>
    <div class="container">
        <div class="row episode-links">
            <table>
                {% for episode in episode_menu.episodes %}
                <tr>
                    <td class=col-sm-6>
                        <div class="episode" id="{{ episode.id }}"><a href="#/">{{ episode.title }}</a></div>
                    </td>
                    <td>
                        <div class="download-status status-{{ episode.id }}"></div> 
                    </td>
                </tr>
                {% endfor %} 
            </table>
        </div>
    </div>
    <p class="secret-title" id="{{ podcast_title }}"></p>
    <script src="/static/js/download_episode.js"></script>
{% endblock %}
