{% extends 'base.html' %}

{% block body%}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Add Podcast</h3>
                <form action="/add" method="POST">
                    <div class="form-group">
                      <label for="podcast_title">Podcast Title</label>
                      <input type="text" class="form-control" name="podcast_title" id="podcast_title" placeholder="Title">      
                    </div>
                    <div class="form-group">
                      <label for="podcast_url">Url</label>
                      <input type="text" class="form-control" name="podcast_url" id="podcast_url"  placeholder="feed.example.com/dumbexample.12345">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Remove Podcast</h3>
                <table class="table table-hover table-bordered"> 
                    {% for podcast in podcasts %}
                    <tr>
                        <td>
                            <p class="settings__podcast">{{ podcast }}</p>
                        </td>
                        <td>
                            <a  href="/remove/{{ podcast }}">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

