{% extends 'base.html' %}

{% block body%}
    <h3>Add Podcast</h3>
    <form action="/add" method="POST">
        <label for="podcast_title">Podcast Title</label><br>
        <input type="text" name="podcast_title" id="podcast_title"><br>
        <label for="podcast_url">Url</label><br>
        <input type="text" name="podcast_url" id="podcast_url"><br>
        <input class="submit" type="submit" value="Submit">
    </form>

    <hr>

    <h3>Remove Podcast</h3>
    <ul>
        {% for podcast in podcasts %}
        <div class="settings-container">
            <li><span class="settings__podcast">{{ podcast }}</span>&nbsp;<span class="settings__remove"><a  href="/remove/{{ podcast }}">Remove</a></span></li>
        </div>
        {% endfor %}
    </ul>
{% endblock %}