body {
    font-size: 2em;
}
h1 {
    text-align: center;
    margin: 40px 0 50px;
}
h3 {
    text-align: center;
}
a, a:hover, .settings__podcast {
    color:black;
}
.episode, .podcast {
    background-color: rgb(212, 206, 206);
    margin-bottom: 2px;
}
.podcast-link__box {
    padding: 2px;
}
.episode, .podcast {
    padding: 15px;
}
